.image{
    background-image: url("https://images.pexels.com/photos/897270/pexels-photo-897270.jpeg");
    height: 700px;
    width: 100vw;
    object-fit: cover;
}

@media (min-width:320px) {
    .image{
        height: 200px;
        width: 100vw;
        object-fit: cover;
    }
}

@media (min-width:375px) {
    .image{
        height: 250px;
        width: 100vw;
        object-fit: cover;
    }
}

@media (min-width:768px) {
    .image{
        height: 450px;
        width: 100vw;
        object-fit: cover;
    }
}

@media (min-width:1024px) {
    .image{
        height: 750px;
        width: 100vw;
        object-fit: cover;
    }
}

